.App {
  text-align: center;
}

#containerBack {
  width: 1000px;
}

#containerFront {
  width: 1000px;
}
#containerLiveness {
  width: 1000px;
}

@media (max-width: 600px) {
  #containerBack {
    width: 100%;
  }
  #containerFront {
    width: 100%;
  }
  #containerLiveness {
    width: 100%;
  }
}
